sudo apt-get update
sudo apt-get install libportaudio2 libsndfile1-dev
sudo apt-get install ffmpeg
g++ -std=c++17 -o main main.cpp -lpthread -lportaudio -lsndfile
sudo apt-get install nlohmann-json3-dev
-----------------------------
cd whisper.cpp
-----------------------------
for real time :
1- make stram

2 -./stream -m ./models/ggml-base.en.bin -t 4 -c 0
-----------------------------
for wav file :
./stream <path_to_wav_file>
