<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeMo Connection Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" href="/static/assets/favicon.ico">
</head>

<body>
    <header>
        <img src="/static/assets/logo.png" alt="BEMO Logo" class="logo">
        <h1>Connection Dashboard</h1>
    </header>

    <main>
        <section id="server-status"></section>
        <section id="robots"></section>
        <section id="users"></section>
    </main>

    <footer>
        <p>© 2025 BeMo Project</p>
    </footer>

    <script src="/static/js/dashboard.js"></script>
</body>

</html>